/* CSS Boilerplate/Essentials */
* {
    box-sizing: border-box;
    margin: 0px;
    padding: 0px;
}

body {
    font-family: Georgia, 'Times New Roman', Times, serif;
    min-height: 100%;
    color: black;
    display: flex;
    flex-direction: column;
}
/* Header Nav Bar Styling */
nav.container, button  {
    font-weight: 500;
    font-size: 18px;
    font-weight: bold;
    color: #edf0f1;
    text-decoration: none;
}
header {
        display: flex;
        justify-content: space-between;
        align-items: center;
        padding: 30px 10%;
        background-color: #24252a;
        color: #edf0f1;
}
.logo {
    cursor: pointer;
}
.nav-bar {
    list-style: none;
    font-size: 20px;
    font-weight: bold;
}
.nav-bar, .nav-list {
    display: inline-block;
    padding: 0px 20px;
}
.nav-bar a {
    transition: all 0.3s ease 0s;
}
.nav-bar {
    padding-right: 120px;
}
.nav-bar .nav-list a:hover {
    color: #0088a9
}
button {
    padding: 9px 25px;
    background-color: rgba(0,136,169,1);
    border: none;
    border-radius: 50px;
    cursor: pointer;
    transition: all 0.3s ease 0s;
}
button:hover {
    background-color: rgba(0,136,169,0.8);
}

/* Footer Styling */
footer.container {
    background-color: #24252a;
    color: white;
    padding: 30px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-weight: bold;
    position:fixed;
    bottom: 0; 
    width: 100%;
}

/* Strawhat Image */
.straw {
    display: flex;
    max-width: 20%;
}
/* Top Content */
.first-product {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 20px;
    padding: 80px;
    }
 .straw-text {
    text-align: left;
    margin-left: 20%;
}
.straw-text h1 {
    font-size: 50px;
}
.straw-text ul {
    font-size: 20px;
}
.anime-list li {
    padding: 10px 0px;
}

/* Bottom Content Styling */
.content-container {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 100px;
    border-top: solid #24252a 1px;
}

 .content h1 {
    color: #24252a;
    font-size: 50px;
 }

 .content p {
    line-height: 1.5;
    max-width: 600px;
    margin-right: 120px;
    font-size: 20px;
    flex: 1;
 }

 .content-container img {
    width: 500px;
    height: auto;
    flex: 1;
 }

 @media(max-width: 750px) {
    .content-container .first-product {
        display: flex;
        align-items: center;
        justify-content: center;
        flex-direction: column;
    }
 }
 /* Shop Content */
 .shop-columns {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    gap: 1em;
 }
 .product-img {
    max-width: 45%;
    display: block;
    margin-left: auto;
    margin-right: auto;
 }
 .item-name, .item-price {
    text-align: center;
 }
 .product {
    padding-top: 25px;
    padding-bottom: 25px;
 }
 .item-name {
    font-weight: bold;
    padding-top: 15px;
 }
 .shop-header {
    font-weight: bold;
    text-align: center;
    padding-top: 50px;
    padding-bottom: 25px;
    font-size: 50px;
    text-decoration: underline;
 }
 /* News Content */
 .news-img {
    width: 250px;
    margin-left: 100px;
    margin-right: 50px;
    margin-bottom: 50px;
    float: left;
 }
 .article-header {
    font-size: 40px;
    text-align: left;
 }
 .news-text {
    margin-left: 50px;
    margin-right: 50px;
    margin-top: 25px;
    margin-bottom: 25px;
 }
 .news-img2 {
    width: 250px;
    margin-left: 100px;
    margin-right: 50px;
    margin-bottom: 50px;
    float: right;
 }
 .news-article {
    margin-left: 250px;
    margin-right: 250px;
 }

 /* About Page */
 .gallery-container {
    display: flex;
 }

.gallery-top, .gallery-bot {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 30px;
    gap: 5px;
}

 .gallery-container, img {
    max-width: 500px;
    height: 300px;
    margin-bottom: -55px;
 }

 /* Quote */
.quote-container {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #e5e7eb;
    padding: 70px;
    margin-top: 70px;
}

.quote-content {
    width: 600px;
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.quote-container p {
    font-size: 25px;
    font-style: italic;
}

.quote-container h3 {
    display: flex;
    align-self: flex-end;
    margin-right: 50px;
}

/* About blurb */
.about-container {
    display: flex;
    flex-direction: column;
    padding: 70px;
    gap: 50px;
}

.about-container p {
    line-height: 1.4;
    font-size: 20px;
}

 /* Contact Page */
 .login-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 12px;
    padding: 60px;
    margin-top: 80px;
    flex-shrink: 1;
 }

 .login-container h3 {
    font-size: 35px;
 }

 .login-container p {
    font-size: 18px;
 }

 .login-container input {
    font-size: 25px;
    border-radius: 5px;
 }

 .login-container button {
    padding: 5px 40px;
 }

 .login-container a:hover {
    color: #0088a9;
 }
