/* CSS Boilerplate/Essentials */
* {
    box-sizing: border-box;
    margin: 0px;
    padding: 0px;
}

body {
    font-family: Georgia, 'Times New Roman', Times, serif;
    min-height: 100%;
    color: black;
    display: flex;
    flex-direction: column;
}
/* Header Nav Bar Styling */
.container, .contact-button {
    font-weight: 500;
    font-size: 16px;
    color: #edf0f1;
    text-decoration: none;
}

/* Footer Styling */
footer.container {
    background-color: rgb(66, 66, 226);
    color: white;
    padding: 30px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-weight: bold;
}

header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 30px 10%;
    background-color: #24252a;
}
/* Header Nav Bar Styling */

/* Bottom Content Styling */
.content-container {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 100px;
}
 .content h1 {
    color: rgb(66, 66, 226);
 }

 .content p {
    line-height: 1.5;
    max-width: 600px;
    margin-right: 120px;
 }

 .content-container img {
    width: 500px;
    height: auto;
 }